# MarkFlow GitIgnore
# Using "Ignore All, Allow Specific" strategy for maximum security

# 1. Ignore everything
*

# 2. Allow Essential Project Files
!.gitignore
!README.md
!requirements.txt
!.env_example

# 3. Allow Source Code
!core/
!core/**

# 4. Allow Deployment Folder
!deploy/
!deploy/**

# 5. Standard Python / OS exclusions
**/__pycache__/
**/*.py[cod]
**/.DS_Store
venv/
.env
../.env

# 6. Exclude User Data & Secrets (CRITICAL)
app.db
*.db
config/
certbot/
markdown_docs/
core/static/vendor/

# 7. Allow Internal Templates
!core/config_example/
!core/config_example/**
