<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.app_name }}</title>
    <link rel="icon" href="{{ config.favicon_path if config.favicon_path else 'data:,' }}">
    <link rel="stylesheet" href="/static/css/style.css?v={{ app_version }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Outfit:wght@600;700;800&display=swap" rel="stylesheet">
    <script nonce="{{ csp_nonce }}" src="/static/vendor/js/lucide.min.js" integrity="{{ config.get_sri('vendor/js/lucide.min.js') }}" crossorigin="anonymous"></script>
    
    <!-- Highlight.js for Code Highlighting -->
    <link id="hljs-theme" rel="stylesheet" href="/static/vendor/css/github-dark.min.css">
    <script nonce="{{ csp_nonce }}" src="/static/vendor/js/highlight.min.js" integrity="{{ config.get_sri('vendor/js/highlight.min.js') }}" crossorigin="anonymous"></script>
    <script nonce="{{ csp_nonce }}" src="/static/vendor/js/languages/scala.min.js"></script>
    <script nonce="{{ csp_nonce }}" src="/static/vendor/js/languages/sql.min.js"></script>
    <script nonce="{{ csp_nonce }}" src="/static/vendor/js/languages/java.min.js"></script>
    <script nonce="{{ csp_nonce }}" src="/static/vendor/js/languages/r.min.js"></script>
    
    <script nonce="{{ csp_nonce }}" src="/static/vendor/js/marked.min.js" integrity="{{ config.get_sri('vendor/js/marked.min.js') }}" crossorigin="anonymous"></script>
    <script nonce="{{ csp_nonce }}" src="/static/vendor/js/purify.min.js" integrity="{{ config.get_sri('vendor/js/purify.min.js') }}" crossorigin="anonymous"></script>
    <script nonce="{{ csp_nonce }}" src="/static/vendor/js/mermaid.min.js" integrity="{{ config.get_sri('vendor/js/mermaid.min.js') }}" crossorigin="anonymous"></script>
    
    <!-- Local Editor Assets (Bundled CodeMirror) -->
    <link rel="stylesheet" href="/static/vendor/css/easymde.min.css">
    <script nonce="{{ csp_nonce }}" src="/static/vendor/js/easymde.min.js" integrity="{{ config.get_sri('vendor/js/easymde.min.js') }}" crossorigin="anonymous"></script>
    
    <!-- KaTeX for Mathematics -->
    <link rel="stylesheet" href="/static/vendor/css/katex.min.css">
    <script nonce="{{ csp_nonce }}" src="/static/vendor/js/katex.min.js" integrity="{{ config.get_sri('vendor/js/katex.min.js') }}" crossorigin="anonymous"></script>
    <script nonce="{{ csp_nonce }}" src="/static/vendor/js/auto-render.min.js" integrity="{{ config.get_sri('vendor/js/auto-render.min.js') }}" crossorigin="anonymous"></script>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="app-version" content="{{ app_version }}">
    <link rel="stylesheet" href="/static/css/editor/markflow-editor.css?v={{ app_version }}">
    <link rel="stylesheet" href="/static/css/modules/color-picker.css?v={{ app_version }}">
    
    <!-- Custom Accent Color -->
    <style id="custom-theme-vars" nonce="{{ csp_nonce }}">
        :root {
            --primary-color: {{ config.primary_color if config.primary_color else '#6366f1' }};
            --primary-rgb: {{ config.primary_rgb if config.primary_rgb else '99, 102, 241' }};
        }
    </style>
</head>
