<div id="user-dashboard-modal" class="modal hidden">
    <div class="modal-content dashboard-content">
        <span class="close-btn" id="close-dashboard">&times;</span>
        <div class="dashboard-header-info"
            style="margin-bottom: 25px; padding-bottom: 15px; border-bottom: 1px solid var(--border-color);">
            <div style="font-size: 18px; font-weight: 600; color: #fff;" id="dashboard-username">Загрузка...</div>
        </div>

        <div class="dashboard-tabs">
            <div class="tab-item active" data-tab="account" data-t="tab_account">Account</div>
            {% if user_role in ['developer', 'maintainer', 'owner'] %}
            <div class="tab-item" data-tab="stats" data-t="tab_stats">Stats</div>
            {% if user_role in ['maintainer', 'owner'] %}
            <div class="tab-item" data-tab="users" data-t="tab_users">Users</div>
            <div class="tab-item" data-tab="git" data-t="tab_git">Git</div>
            <div class="tab-item" data-tab="logs" data-t="tab_logs">Audit Logs</div>
            {% if user_role == 'owner' %}
            <div class="tab-item" data-tab="statuses" data-t="tab_statuses">Statuses</div>
            <div class="tab-item" data-tab="system" data-t="tab_system">System</div>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>

        {% include 'components/dashboard/account.html' %}

        {% if user_role in ['maintainer', 'owner'] %}
            {% include 'components/dashboard/users.html' %}
            {% include 'components/dashboard/git.html' %}
            {% include 'components/dashboard/logs.html' %}
            
            {% if user_role == 'owner' %}
                {% include 'components/dashboard/statuses.html' %}
                {% include 'components/dashboard/system.html' %}
            {% endif %}
        {% endif %}

        {% if user_role in ['developer', 'maintainer', 'owner'] %}
            {% include 'components/dashboard/stats.html' %}
        {% endif %}
    </div>
</div>